
#home {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
}


#about {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
}

#gallery {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
}

#contact {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
}